*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
.container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
.container-md,
.container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
.container-lg,
.container-md,
.container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1320px;
  }
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 576px) {
  .container-fluid {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container-fluid {
    padding: 0 80px;
  }
}

section {
  padding-top: 70px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  section {
    text-align: left;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.btn {
  color: #213b52;
  border-radius: 50px;
  text-transform: capitalize;
  padding: 8px 35px 10px 35px;
  text-decoration: none;
  border: 2px solid #fdc134;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #fdc134;
}

img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

a {
  display: inline-block;
}

.sec__title {
  text-align: center;
  color: #213b52;
  padding-bottom: 30px;
}
.sec__title h2 {
  text-transform: uppercase;
  font-size: 36px;
}
.sec__title h2 .sec__title-item {
  position: relative;
  display: block;
}
.sec__title h2 .sec__title-item:first-of-type {
  width: 120px;
  height: 1px;
  background: #ddd;
  left: calc(50% - 60px);
  top: 10px;
}
.sec__title h2 .sec__title-item:last-of-type {
  width: 40px;
  height: 4px;
  background: #fdc134;
  left: calc(50% - 20px);
  top: 8px;
}

.header {
  background: #213b52;
}
.header nav {
  display: flex;
  align-items: center;
}
.header nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.header nav .header__logo {
  position: fixed;
  top: -6px;
  left: 25px;
}
@media screen and (min-width: 992px) {
  .header nav .header__logo {
    position: static;
  }
}
.header nav .header__logo .header__brand {
  background: #213b52;
  text-transform: uppercase;
  color: white;
  z-index: 100;
}
.header nav .header__logo .header__brand span {
  color: #fdc134;
}
.header nav .header__list {
  display: none;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .header nav .header__list {
    display: flex;
  }
}
.header nav .header__list .header__list-item {
  margin: 10px;
}
.header nav .header__list .pop {
  display: none;
  list-style: none;
  padding: 0;
}
.header nav .header__list .pop:target {
  display: inline-block;
}
.header nav .header__list a {
  font-size: 14px;
}
.header nav .header__btn {
  background: #213b52;
  color: white;
}
@media screen and (min-width: 992px) {
  .header nav .header__btn {
    display: inline-block;
  }
}
.header nav input[type=checkbox] {
  display: none;
}
.header nav label[for=checkbox] {
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 100;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .header nav label[for=checkbox] {
    display: none;
  }
}
.header nav label[for=checkbox] .header__menu-item {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background: #fdc134;
  transition: 0.01s;
  transform-origin: 0;
}
.header nav input[type=checkbox]:checked + label .header__menu-item:first-of-type {
  transform: rotate(405deg);
}
.header nav input[type=checkbox]:checked + label .header__menu-item:nth-of-type(2) {
  visibility: hidden;
  opacity: 0;
}
.header nav input[type=checkbox]:checked + label .header__menu-item:last-of-type {
  transform: rotate(-405deg);
}
.header nav input[type=checkbox]:checked + label ~ .header__list {
  position: fixed;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50px;
  margin: auto 0;
  width: 93%;
  right: 15px;
  left: 15px;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #c5c6d4, 1px 1px 15px #a5a5a9;
}
.header nav input[type=checkbox]:checked + label ~ .header__list a {
  color: #213b52;
}
.header nav input[type=checkbox]:checked + label ~ .header__list .header__btn {
  color: white;
  border: #213b52;
}

.hero {
  background-color: #213b52;
  min-height: 88vh;
}
.hero .row {
  align-items: center;
}
.hero .row .col-lg-6:first-of-type {
  order: 1;
}
@media screen and (min-width: 992px) {
  .hero .row .col-lg-6:first-of-type {
    order: 0;
  }
}
.hero .row .hero__title {
  font-size: 48px;
  color: #d2e0ed;
}
.hero .row h2 {
  color: white;
  font-size: 22px;
}
.hero .row .hero__img {
  height: 60%;
}

.clients {
  padding: 40px 0;
}
.clients .row .clients__logo {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.clients .row .clients__logo .clients__img {
  width: auto;
  height: 40px;
}

.about {
  min-height: 100vh;
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
  padding-left: 10px;
  text-align: left;
}
.about .about__img {
  object-fit: cover;
}
.about .about__title {
  font-weight: 700;
  font-size: 34px;
  color: #213b52;
}
.about .about__bx {
  margin-top: 25px;
}
.about .about__bx .about__icon {
  float: left;
  width: 40px;
  height: 40px;
}
.about .about__bx .about__bx-title {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: #213b52;
}
.about .about__bx .about__bx-text {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.services .row .services__card {
  position: relative;
  padding: 0 30px;
  border: 1px solid transparent;
  min-height: 500px;
  margin-bottom: 60px;
}
.services .row .services__card .services__card-img {
  border-radius: 0;
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
}
.services .row .services__card .services__card-img img {
  transition: 0.3s;
}
.services .row .services__card .services__card-body {
  position: absolute;
  background-color: white;
  padding: 30px 30px;
  width: 70%;
  left: 16%;
  margin-top: -60px;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.services .row .services__card .services__card-body .services__card-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #213b52;
}
.services .row .services__card .services__card-body .services__card-link {
  text-decoration: none;
  color: #777;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 600;
}
.services .row .services__card .services__card-body .services__card-link:hover {
  color: #fdc134;
}
.services .row .services__card:hover img {
  transform: scale(1.2);
}
.services .row .services__card:hover .services__card-title {
  color: #fdc134;
}

.feature {
  text-align: left;
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
  min-height: 100vh;
}
.feature .feature__title {
  font-weight: 700;
  font-size: 26px;
  color: #213b52;
}
.feature .feature__text {
  font-style: italic;
}
.feature .feature__list {
  list-style: none;
  padding: 0;
}
.feature .feature__list .feature__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.team .row {
  align-items: center;
}
.team .row .team__card {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 30px;
  min-height: 300px;
}
.team .row .team__card .team__card-img {
  height: 100%;
}
.team .row .team__card .team__card-img img {
  object-fit: cover;
}
.team .row .team__card .team__card-title {
  color: #213b52;
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 0;
}
.team .row .team__card .team__card-text {
  font-style: italic;
}

.pricing .row {
  align-items: center;
}
.pricing .row .pricing__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-bottom: 30px;
  min-height: 470px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  max-width: 100%;
}
@media screen and (min-width: 576px) {
  .pricing .row .pricing__card {
    max-width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .pricing .row .pricing__card {
    max-width: 100%;
  }
}
.pricing .row .pricing__card h3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}
.pricing .row .pricing__card h4 {
  font-size: 46px;
  text-align: center;
  color: #fdc134;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
}
.pricing .row .pricing__card h4 span {
  display: block;
  color: #bababa;
  font-size: 18px;
}
.pricing .row .pricing__card .pricing__list {
  color: #999;
  list-style: none;
  padding: 0;
}
.pricing .row .pricing__card .pricing__list li {
  margin: 15px 0;
}
.pricing .row .pricing__card .pricing__list i {
  width: 25px;
  height: 25px;
}
.pricing .row .pricing__card .pricing__list .pricing__list-item {
  color: #ccc;
}
.pricing .row .pricing__card .pricing__list .pricing__list-item span {
  text-decoration: line-through;
}
.pricing .row .pricing__card .pricing__btn {
  background-color: #213b52;
  color: white;
  border: 2px solid #213b52;
  text-align: center;
}
.pricing .row .featured {
  position: relative;
  min-height: 530px;
  border: 1px solid #fdc134;
}
.pricing .row .featured .featured__badge {
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -3px);
  background: #fdc134;
  color: #fff;
  text-align: center;
  line-height: 1;
  border-radius: 50px;
  padding: 4px 20px 5px 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.pricing .row .featured .btn {
  color: white;
}

.faq {
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}
.faq .faq__item {
  position: relative;
  color: #213b52;
  bottom: -15px;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #dde8f1;
}

.contact .contact__box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}
.contact input {
  padding: 10px 15px;
}
.contact .contact__btn {
  background: #fdc134;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.contact .contact__btn:hover {
  background: #fdd067;
}

.footer {
  position: relative;
  background: url(../../assets/img/footer/footer-bg.jpg) center center no-repeat;
  min-height: 400px;
  padding-top: 35px;
}
.footer .footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 46, 64, 0.85);
  z-index: 1;
}
.footer .row {
  justify-content: center;
}
.footer .row .footer__title,
.footer .row .footer__text {
  text-align: center;
  color: white;
}
.footer .row .footer__title {
  font-size: 36px;
}
.footer .row .footer__text {
  font-style: italic;
}
.footer .row form {
  width: 100%;
  background-color: white;
  border-radius: 35px;
  padding: 10px;
}
.footer .row form input[type=email] {
  padding: 10px 15px;
  width: 80%;
}
.footer .row form input[type=submit] {
  display: inline-block;
  border-radius: 35px;
  right: 0;
}

.m-auto {
  margin: auto;
}

@media screen and (min-width: 576px) {
  .m-sm-auto {
    margin: auto !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .m-md-auto {
    margin: auto !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .m-md-auto {
    margin: auto !important;
  }
}
@media screen and (min-width: 991px) {
  .m-lg-auto {
    margin: auto !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .m-xl-auto {
    margin: auto !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }
}
@media screen and (min-width: 1440px) {
  .m-xxl-auto {
    margin: auto !important;
  }

  .m-xxl-auto {
    margin: auto !important;
  }

  .m-xxl-auto {
    margin: auto !important;
  }

  .m-xxl-auto {
    margin: auto !important;
  }

  .m-xxl-auto {
    margin: auto !important;
  }

  .m-xxl-auto {
    margin: auto !important;
  }
}
.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 5px !important;
}

.m-2 {
  margin: 10px !important;
}

.m-3 {
  margin: 15px !important;
}

.m-4 {
  margin: 20px !important;
}

.m-5 {
  margin: 25px !important;
}

.ms-auto {
  margin-left: auto !important;
}

@media screen and (min-width: 576px) {
  .ms-sm-auto {
    margin-left: auto !important;
  }

  .ms-sm-auto {
    margin-left: auto !important;
  }

  .ms-sm-auto {
    margin-left: auto !important;
  }

  .ms-sm-auto {
    margin-left: auto !important;
  }

  .ms-sm-auto {
    margin-left: auto !important;
  }

  .ms-sm-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .ms-md-auto {
    margin-left: auto !important;
  }

  .ms-md-auto {
    margin-left: auto !important;
  }

  .ms-md-auto {
    margin-left: auto !important;
  }

  .ms-md-auto {
    margin-left: auto !important;
  }

  .ms-md-auto {
    margin-left: auto !important;
  }

  .ms-md-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 991px) {
  .ms-lg-auto {
    margin-left: auto !important;
  }

  .ms-lg-auto {
    margin-left: auto !important;
  }

  .ms-lg-auto {
    margin-left: auto !important;
  }

  .ms-lg-auto {
    margin-left: auto !important;
  }

  .ms-lg-auto {
    margin-left: auto !important;
  }

  .ms-lg-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .ms-xl-auto {
    margin-left: auto !important;
  }

  .ms-xl-auto {
    margin-left: auto !important;
  }

  .ms-xl-auto {
    margin-left: auto !important;
  }

  .ms-xl-auto {
    margin-left: auto !important;
  }

  .ms-xl-auto {
    margin-left: auto !important;
  }

  .ms-xl-auto {
    margin-left: auto !important;
  }
}
@media screen and (min-width: 1440px) {
  .ms-xxl-auto {
    margin-left: auto !important;
  }

  .ms-xxl-auto {
    margin-left: auto !important;
  }

  .ms-xxl-auto {
    margin-left: auto !important;
  }

  .ms-xxl-auto {
    margin-left: auto !important;
  }

  .ms-xxl-auto {
    margin-left: auto !important;
  }

  .ms-xxl-auto {
    margin-left: auto !important;
  }
}
.me-auto {
  margin-right: auto !important;
}

@media screen and (min-width: 576px) {
  .ms-sm-auto {
    margin-right: auto !important;
  }

  .ms-sm-auto {
    margin-right: auto !important;
  }

  .ms-sm-auto {
    margin-right: auto !important;
  }

  .ms-sm-auto {
    margin-right: auto !important;
  }

  .ms-sm-auto {
    margin-right: auto !important;
  }

  .ms-sm-auto {
    margin-right: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .ms-md-auto {
    margin-right: auto !important;
  }

  .ms-md-auto {
    margin-right: auto !important;
  }

  .ms-md-auto {
    margin-right: auto !important;
  }

  .ms-md-auto {
    margin-right: auto !important;
  }

  .ms-md-auto {
    margin-right: auto !important;
  }

  .ms-md-auto {
    margin-right: auto !important;
  }
}
@media screen and (min-width: 991px) {
  .ms-lg-auto {
    margin-right: auto !important;
  }

  .ms-lg-auto {
    margin-right: auto !important;
  }

  .ms-lg-auto {
    margin-right: auto !important;
  }

  .ms-lg-auto {
    margin-right: auto !important;
  }

  .ms-lg-auto {
    margin-right: auto !important;
  }

  .ms-lg-auto {
    margin-right: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .ms-xl-auto {
    margin-right: auto !important;
  }

  .ms-xl-auto {
    margin-right: auto !important;
  }

  .ms-xl-auto {
    margin-right: auto !important;
  }

  .ms-xl-auto {
    margin-right: auto !important;
  }

  .ms-xl-auto {
    margin-right: auto !important;
  }

  .ms-xl-auto {
    margin-right: auto !important;
  }
}
@media screen and (min-width: 1440px) {
  .ms-xxl-auto {
    margin-right: auto !important;
  }

  .ms-xxl-auto {
    margin-right: auto !important;
  }

  .ms-xxl-auto {
    margin-right: auto !important;
  }

  .ms-xxl-auto {
    margin-right: auto !important;
  }

  .ms-xxl-auto {
    margin-right: auto !important;
  }

  .ms-xxl-auto {
    margin-right: auto !important;
  }
}
.mt-auto {
  margin-top: auto !important;
}

@media screen and (min-width: 576px) {
  .ms-sm-auto {
    margin-top: auto !important;
  }

  .ms-sm-auto {
    margin-top: auto !important;
  }

  .ms-sm-auto {
    margin-top: auto !important;
  }

  .ms-sm-auto {
    margin-top: auto !important;
  }

  .ms-sm-auto {
    margin-top: auto !important;
  }

  .ms-sm-auto {
    margin-top: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .ms-md-auto {
    margin-top: auto !important;
  }

  .ms-md-auto {
    margin-top: auto !important;
  }

  .ms-md-auto {
    margin-top: auto !important;
  }

  .ms-md-auto {
    margin-top: auto !important;
  }

  .ms-md-auto {
    margin-top: auto !important;
  }

  .ms-md-auto {
    margin-top: auto !important;
  }
}
@media screen and (min-width: 991px) {
  .ms-lg-auto {
    margin-top: auto !important;
  }

  .ms-lg-auto {
    margin-top: auto !important;
  }

  .ms-lg-auto {
    margin-top: auto !important;
  }

  .ms-lg-auto {
    margin-top: auto !important;
  }

  .ms-lg-auto {
    margin-top: auto !important;
  }

  .ms-lg-auto {
    margin-top: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .ms-xl-auto {
    margin-top: auto !important;
  }

  .ms-xl-auto {
    margin-top: auto !important;
  }

  .ms-xl-auto {
    margin-top: auto !important;
  }

  .ms-xl-auto {
    margin-top: auto !important;
  }

  .ms-xl-auto {
    margin-top: auto !important;
  }

  .ms-xl-auto {
    margin-top: auto !important;
  }
}
@media screen and (min-width: 1440px) {
  .ms-xxl-auto {
    margin-top: auto !important;
  }

  .ms-xxl-auto {
    margin-top: auto !important;
  }

  .ms-xxl-auto {
    margin-top: auto !important;
  }

  .ms-xxl-auto {
    margin-top: auto !important;
  }

  .ms-xxl-auto {
    margin-top: auto !important;
  }

  .ms-xxl-auto {
    margin-top: auto !important;
  }
}
.mb-auto {
  margin-bottom: auto !important;
}

@media screen and (min-width: 576px) {
  .ms-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-auto {
    margin-bottom: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .ms-md-auto {
    margin-bottom: auto !important;
  }

  .ms-md-auto {
    margin-bottom: auto !important;
  }

  .ms-md-auto {
    margin-bottom: auto !important;
  }

  .ms-md-auto {
    margin-bottom: auto !important;
  }

  .ms-md-auto {
    margin-bottom: auto !important;
  }

  .ms-md-auto {
    margin-bottom: auto !important;
  }
}
@media screen and (min-width: 991px) {
  .ms-lg-auto {
    margin-bottom: auto !important;
  }

  .ms-lg-auto {
    margin-bottom: auto !important;
  }

  .ms-lg-auto {
    margin-bottom: auto !important;
  }

  .ms-lg-auto {
    margin-bottom: auto !important;
  }

  .ms-lg-auto {
    margin-bottom: auto !important;
  }

  .ms-lg-auto {
    margin-bottom: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .ms-xl-auto {
    margin-bottom: auto !important;
  }

  .ms-xl-auto {
    margin-bottom: auto !important;
  }

  .ms-xl-auto {
    margin-bottom: auto !important;
  }

  .ms-xl-auto {
    margin-bottom: auto !important;
  }

  .ms-xl-auto {
    margin-bottom: auto !important;
  }

  .ms-xl-auto {
    margin-bottom: auto !important;
  }
}
@media screen and (min-width: 1440px) {
  .ms-xxl-auto {
    margin-bottom: auto !important;
  }

  .ms-xxl-auto {
    margin-bottom: auto !important;
  }

  .ms-xxl-auto {
    margin-bottom: auto !important;
  }

  .ms-xxl-auto {
    margin-bottom: auto !important;
  }

  .ms-xxl-auto {
    margin-bottom: auto !important;
  }

  .ms-xxl-auto {
    margin-bottom: auto !important;
  }
}
.ms-0 {
  margin-left: 0px !important;
}

.ms-1 {
  margin-left: 5px !important;
}

.ms-2 {
  margin-left: 10px !important;
}

.ms-3 {
  margin-left: 15px !important;
}

.ms-4 {
  margin-left: 20px !important;
}

.ms-5 {
  margin-left: 25px !important;
}

.me-0 {
  margin-right: 0px !important;
}

.me-1 {
  margin-right: 5px !important;
}

.me-2 {
  margin-right: 10px !important;
}

.me-3 {
  margin-right: 15px !important;
}

.me-4 {
  margin-right: 20px !important;
}

.me-5 {
  margin-right: 25px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mt-5 {
  margin-top: 25px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.mb-5 {
  margin-bottom: 25px !important;
}

@media screen and (min-width: 576px) {
  .ms-sm-0 {
    margin-left: 0px !important;
  }

  .ms-sm-1 {
    margin-left: 5px !important;
  }

  .ms-sm-2 {
    margin-left: 10px !important;
  }

  .ms-sm-3 {
    margin-left: 15px !important;
  }

  .ms-sm-4 {
    margin-left: 20px !important;
  }

  .ms-sm-5 {
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .ms-md-0 {
    margin-left: 0px !important;
  }

  .ms-md-1 {
    margin-left: 5px !important;
  }

  .ms-md-2 {
    margin-left: 10px !important;
  }

  .ms-md-3 {
    margin-left: 15px !important;
  }

  .ms-md-4 {
    margin-left: 20px !important;
  }

  .ms-md-5 {
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .ms-lg-0 {
    margin-left: 0px !important;
  }

  .ms-lg-1 {
    margin-left: 5px !important;
  }

  .ms-lg-2 {
    margin-left: 10px !important;
  }

  .ms-lg-3 {
    margin-left: 15px !important;
  }

  .ms-lg-4 {
    margin-left: 20px !important;
  }

  .ms-lg-5 {
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .ms-xl-0 {
    margin-left: 0px !important;
  }

  .ms-xl-1 {
    margin-left: 5px !important;
  }

  .ms-xl-2 {
    margin-left: 10px !important;
  }

  .ms-xl-3 {
    margin-left: 15px !important;
  }

  .ms-xl-4 {
    margin-left: 20px !important;
  }

  .ms-xl-5 {
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .ms-xxl-0 {
    margin-left: 0px !important;
  }

  .ms-xxl-1 {
    margin-left: 5px !important;
  }

  .ms-xxl-2 {
    margin-left: 10px !important;
  }

  .ms-xxl-3 {
    margin-left: 15px !important;
  }

  .ms-xxl-4 {
    margin-left: 20px !important;
  }

  .ms-xxl-5 {
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .me-sm-0 {
    margin-right: 0px !important;
  }

  .me-sm-1 {
    margin-right: 5px !important;
  }

  .me-sm-2 {
    margin-right: 10px !important;
  }

  .me-sm-3 {
    margin-right: 15px !important;
  }

  .me-sm-4 {
    margin-right: 20px !important;
  }

  .me-sm-5 {
    margin-right: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .me-md-0 {
    margin-right: 0px !important;
  }

  .me-md-1 {
    margin-right: 5px !important;
  }

  .me-md-2 {
    margin-right: 10px !important;
  }

  .me-md-3 {
    margin-right: 15px !important;
  }

  .me-md-4 {
    margin-right: 20px !important;
  }

  .me-md-5 {
    margin-right: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .me-lg-0 {
    margin-right: 0px !important;
  }

  .me-lg-1 {
    margin-right: 5px !important;
  }

  .me-lg-2 {
    margin-right: 10px !important;
  }

  .me-lg-3 {
    margin-right: 15px !important;
  }

  .me-lg-4 {
    margin-right: 20px !important;
  }

  .me-lg-5 {
    margin-right: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .me-xl-0 {
    margin-right: 0px !important;
  }

  .me-xl-1 {
    margin-right: 5px !important;
  }

  .me-xl-2 {
    margin-right: 10px !important;
  }

  .me-xl-3 {
    margin-right: 15px !important;
  }

  .me-xl-4 {
    margin-right: 20px !important;
  }

  .me-xl-5 {
    margin-right: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .me-xxl-0 {
    margin-right: 0px !important;
  }

  .me-xxl-1 {
    margin-right: 5px !important;
  }

  .me-xxl-2 {
    margin-right: 10px !important;
  }

  .me-xxl-3 {
    margin-right: 15px !important;
  }

  .me-xxl-4 {
    margin-right: 20px !important;
  }

  .me-xxl-5 {
    margin-right: 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .mt-sm-0 {
    margin-top: 0px !important;
  }

  .mt-sm-1 {
    margin-top: 5px !important;
  }

  .mt-sm-2 {
    margin-top: 10px !important;
  }

  .mt-sm-3 {
    margin-top: 15px !important;
  }

  .mt-sm-4 {
    margin-top: 20px !important;
  }

  .mt-sm-5 {
    margin-top: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0px !important;
  }

  .mt-md-1 {
    margin-top: 5px !important;
  }

  .mt-md-2 {
    margin-top: 10px !important;
  }

  .mt-md-3 {
    margin-top: 15px !important;
  }

  .mt-md-4 {
    margin-top: 20px !important;
  }

  .mt-md-5 {
    margin-top: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .mt-lg-0 {
    margin-top: 0px !important;
  }

  .mt-lg-1 {
    margin-top: 5px !important;
  }

  .mt-lg-2 {
    margin-top: 10px !important;
  }

  .mt-lg-3 {
    margin-top: 15px !important;
  }

  .mt-lg-4 {
    margin-top: 20px !important;
  }

  .mt-lg-5 {
    margin-top: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .mt-xl-0 {
    margin-top: 0px !important;
  }

  .mt-xl-1 {
    margin-top: 5px !important;
  }

  .mt-xl-2 {
    margin-top: 10px !important;
  }

  .mt-xl-3 {
    margin-top: 15px !important;
  }

  .mt-xl-4 {
    margin-top: 20px !important;
  }

  .mt-xl-5 {
    margin-top: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .mt-xxl-0 {
    margin-top: 0px !important;
  }

  .mt-xxl-1 {
    margin-top: 5px !important;
  }

  .mt-xxl-2 {
    margin-top: 10px !important;
  }

  .mt-xxl-3 {
    margin-top: 15px !important;
  }

  .mt-xxl-4 {
    margin-top: 20px !important;
  }

  .mt-xxl-5 {
    margin-top: 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .mb-sm-0 {
    margin-bottom: 5px !important;
  }

  .mb-sm-1 {
    margin-bottom: 5px !important;
  }

  .mb-sm-2 {
    margin-bottom: 5px !important;
  }

  .mb-sm-3 {
    margin-bottom: 5px !important;
  }

  .mb-sm-4 {
    margin-bottom: 5px !important;
  }

  .mb-sm-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 5px !important;
  }

  .mb-md-1 {
    margin-bottom: 5px !important;
  }

  .mb-md-2 {
    margin-bottom: 5px !important;
  }

  .mb-md-3 {
    margin-bottom: 5px !important;
  }

  .mb-md-4 {
    margin-bottom: 5px !important;
  }

  .mb-md-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 991px) {
  .mb-lg-0 {
    margin-bottom: 5px !important;
  }

  .mb-lg-1 {
    margin-bottom: 5px !important;
  }

  .mb-lg-2 {
    margin-bottom: 5px !important;
  }

  .mb-lg-3 {
    margin-bottom: 5px !important;
  }

  .mb-lg-4 {
    margin-bottom: 5px !important;
  }

  .mb-lg-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 1200px) {
  .mb-xl-0 {
    margin-bottom: 5px !important;
  }

  .mb-xl-1 {
    margin-bottom: 5px !important;
  }

  .mb-xl-2 {
    margin-bottom: 5px !important;
  }

  .mb-xl-3 {
    margin-bottom: 5px !important;
  }

  .mb-xl-4 {
    margin-bottom: 5px !important;
  }

  .mb-xl-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 1440px) {
  .mb-xxl-0 {
    margin-bottom: 5px !important;
  }

  .mb-xxl-1 {
    margin-bottom: 5px !important;
  }

  .mb-xxl-2 {
    margin-bottom: 5px !important;
  }

  .mb-xxl-3 {
    margin-bottom: 5px !important;
  }

  .mb-xxl-4 {
    margin-bottom: 5px !important;
  }

  .mb-xxl-5 {
    margin-bottom: 5px !important;
  }
}
.mx-auto {
  margin: 0 auto !important;
}

@media screen and (min-width: 576px) {
  .mx-sm-0 {
    margin: 0 0px !important;
  }

  .mx-sm-1 {
    margin: 0 5px !important;
  }

  .mx-sm-2 {
    margin: 0 10px !important;
  }

  .mx-sm-3 {
    margin: 0 15px !important;
  }

  .mx-sm-4 {
    margin: 0 20px !important;
  }

  .mx-sm-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .mx-md-0 {
    margin: 0 0px !important;
  }

  .mx-md-1 {
    margin: 0 5px !important;
  }

  .mx-md-2 {
    margin: 0 10px !important;
  }

  .mx-md-3 {
    margin: 0 15px !important;
  }

  .mx-md-4 {
    margin: 0 20px !important;
  }

  .mx-md-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .mx-lg-0 {
    margin: 0 0px !important;
  }

  .mx-lg-1 {
    margin: 0 5px !important;
  }

  .mx-lg-2 {
    margin: 0 10px !important;
  }

  .mx-lg-3 {
    margin: 0 15px !important;
  }

  .mx-lg-4 {
    margin: 0 20px !important;
  }

  .mx-lg-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .mx-xl-0 {
    margin: 0 0px !important;
  }

  .mx-xl-1 {
    margin: 0 5px !important;
  }

  .mx-xl-2 {
    margin: 0 10px !important;
  }

  .mx-xl-3 {
    margin: 0 15px !important;
  }

  .mx-xl-4 {
    margin: 0 20px !important;
  }

  .mx-xl-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .mx-xxl-0 {
    margin: 0 0px !important;
  }

  .mx-xxl-1 {
    margin: 0 5px !important;
  }

  .mx-xxl-2 {
    margin: 0 10px !important;
  }

  .mx-xxl-3 {
    margin: 0 15px !important;
  }

  .mx-xxl-4 {
    margin: 0 20px !important;
  }

  .mx-xxl-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .mx-sm-0 {
    margin: 0 auto !important;
  }

  .mx-sm-1 {
    margin: 0 auto !important;
  }

  .mx-sm-2 {
    margin: 0 auto !important;
  }

  .mx-sm-3 {
    margin: 0 auto !important;
  }

  .mx-sm-4 {
    margin: 0 auto !important;
  }

  .mx-sm-5 {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 768px) {
  .mx-md-0 {
    margin: 0 auto !important;
  }

  .mx-md-1 {
    margin: 0 auto !important;
  }

  .mx-md-2 {
    margin: 0 auto !important;
  }

  .mx-md-3 {
    margin: 0 auto !important;
  }

  .mx-md-4 {
    margin: 0 auto !important;
  }

  .mx-md-5 {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 991px) {
  .mx-lg-0 {
    margin: 0 auto !important;
  }

  .mx-lg-1 {
    margin: 0 auto !important;
  }

  .mx-lg-2 {
    margin: 0 auto !important;
  }

  .mx-lg-3 {
    margin: 0 auto !important;
  }

  .mx-lg-4 {
    margin: 0 auto !important;
  }

  .mx-lg-5 {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .mx-xl-0 {
    margin: 0 auto !important;
  }

  .mx-xl-1 {
    margin: 0 auto !important;
  }

  .mx-xl-2 {
    margin: 0 auto !important;
  }

  .mx-xl-3 {
    margin: 0 auto !important;
  }

  .mx-xl-4 {
    margin: 0 auto !important;
  }

  .mx-xl-5 {
    margin: 0 auto !important;
  }
}
@media screen and (min-width: 1440px) {
  .mx-xxl-0 {
    margin: 0 auto !important;
  }

  .mx-xxl-1 {
    margin: 0 auto !important;
  }

  .mx-xxl-2 {
    margin: 0 auto !important;
  }

  .mx-xxl-3 {
    margin: 0 auto !important;
  }

  .mx-xxl-4 {
    margin: 0 auto !important;
  }

  .mx-xxl-5 {
    margin: 0 auto !important;
  }
}
.my-auto {
  margin: auto 0 !important;
}

@media screen and (min-width: 576px) {
  .my-sm-0 {
    margin: 0 0px !important;
  }

  .my-sm-1 {
    margin: 0 5px !important;
  }

  .my-sm-2 {
    margin: 0 10px !important;
  }

  .my-sm-3 {
    margin: 0 15px !important;
  }

  .my-sm-4 {
    margin: 0 20px !important;
  }

  .my-sm-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .my-md-0 {
    margin: 0 0px !important;
  }

  .my-md-1 {
    margin: 0 5px !important;
  }

  .my-md-2 {
    margin: 0 10px !important;
  }

  .my-md-3 {
    margin: 0 15px !important;
  }

  .my-md-4 {
    margin: 0 20px !important;
  }

  .my-md-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .my-lg-0 {
    margin: 0 0px !important;
  }

  .my-lg-1 {
    margin: 0 5px !important;
  }

  .my-lg-2 {
    margin: 0 10px !important;
  }

  .my-lg-3 {
    margin: 0 15px !important;
  }

  .my-lg-4 {
    margin: 0 20px !important;
  }

  .my-lg-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .my-xl-0 {
    margin: 0 0px !important;
  }

  .my-xl-1 {
    margin: 0 5px !important;
  }

  .my-xl-2 {
    margin: 0 10px !important;
  }

  .my-xl-3 {
    margin: 0 15px !important;
  }

  .my-xl-4 {
    margin: 0 20px !important;
  }

  .my-xl-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .my-xxl-0 {
    margin: 0 0px !important;
  }

  .my-xxl-1 {
    margin: 0 5px !important;
  }

  .my-xxl-2 {
    margin: 0 10px !important;
  }

  .my-xxl-3 {
    margin: 0 15px !important;
  }

  .my-xxl-4 {
    margin: 0 20px !important;
  }

  .my-xxl-5 {
    margin: 0 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .my-sm-auto {
    margin: auto 0 !important;
  }
}
@media screen and (min-width: 768px) {
  .my-md-auto {
    margin: auto 0 !important;
  }
}
@media screen and (min-width: 991px) {
  .my-lg-auto {
    margin: auto 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .my-xl-auto {
    margin: auto 0 !important;
  }
}
@media screen and (min-width: 1440px) {
  .my-xxl-auto {
    margin: auto 0 !important;
  }
}
.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 5px !important;
}

.p-2 {
  padding: 10px !important;
}

.p-3 {
  padding: 15px !important;
}

.p-4 {
  padding: 20px !important;
}

.p-5 {
  padding: 25px !important;
}

@media screen and (min-width: 576px) {
  .p-sm-0 {
    padding: 0px !important;
  }

  .p-sm-1 {
    padding: 5px !important;
  }

  .p-sm-2 {
    padding: 10px !important;
  }

  .p-sm-3 {
    padding: 15px !important;
  }

  .p-sm-4 {
    padding: 20px !important;
  }

  .p-sm-5 {
    padding: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .p-md-0 {
    padding: 0px !important;
  }

  .p-md-1 {
    padding: 5px !important;
  }

  .p-md-2 {
    padding: 10px !important;
  }

  .p-md-3 {
    padding: 15px !important;
  }

  .p-md-4 {
    padding: 20px !important;
  }

  .p-md-5 {
    padding: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .p-lg-0 {
    padding: 0px !important;
  }

  .p-lg-1 {
    padding: 5px !important;
  }

  .p-lg-2 {
    padding: 10px !important;
  }

  .p-lg-3 {
    padding: 15px !important;
  }

  .p-lg-4 {
    padding: 20px !important;
  }

  .p-lg-5 {
    padding: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .p-xl-0 {
    padding: 0px !important;
  }

  .p-xl-1 {
    padding: 5px !important;
  }

  .p-xl-2 {
    padding: 10px !important;
  }

  .p-xl-3 {
    padding: 15px !important;
  }

  .p-xl-4 {
    padding: 20px !important;
  }

  .p-xl-5 {
    padding: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .p-xxl-0 {
    padding: 0px !important;
  }

  .p-xxl-1 {
    padding: 5px !important;
  }

  .p-xxl-2 {
    padding: 10px !important;
  }

  .p-xxl-3 {
    padding: 15px !important;
  }

  .p-xxl-4 {
    padding: 20px !important;
  }

  .p-xxl-5 {
    padding: 25px !important;
  }
}
.ps-0 {
  padding-left: 0px !important;
}

.ps-1 {
  padding-left: 5px !important;
}

.ps-2 {
  padding-left: 10px !important;
}

.ps-3 {
  padding-left: 15px !important;
}

.ps-4 {
  padding-left: 20px !important;
}

.ps-5 {
  padding-left: 25px !important;
}

.pe-0 {
  padding-right: 0px !important;
}

.pe-1 {
  padding-right: 5px !important;
}

.pe-2 {
  padding-right: 10px !important;
}

.pe-3 {
  padding-right: 15px !important;
}

.pe-4 {
  padding-right: 20px !important;
}

.pe-5 {
  padding-right: 25px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.pt-4 {
  padding-top: 20px !important;
}

.pt-5 {
  padding-top: 25px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.pb-3 {
  padding-bottom: 15px !important;
}

.pb-4 {
  padding-bottom: 20px !important;
}

.pb-5 {
  padding-bottom: 25px !important;
}

@media screen and (min-width: 576px) {
  .ps-sm-1 {
    padding-left: 5px !important;
  }

  .ps-sm-2 {
    padding-left: 10px !important;
  }

  .ps-sm-3 {
    padding-left: 15px !important;
  }

  .ps-sm-4 {
    padding-left: 20px !important;
  }

  .ps-sm-5 {
    padding-left: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .ps-md-1 {
    padding-left: 5px !important;
  }

  .ps-md-2 {
    padding-left: 10px !important;
  }

  .ps-md-3 {
    padding-left: 15px !important;
  }

  .ps-md-4 {
    padding-left: 20px !important;
  }

  .ps-md-5 {
    padding-left: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .ps-lg-1 {
    padding-left: 5px !important;
  }

  .ps-lg-2 {
    padding-left: 10px !important;
  }

  .ps-lg-3 {
    padding-left: 15px !important;
  }

  .ps-lg-4 {
    padding-left: 20px !important;
  }

  .ps-lg-5 {
    padding-left: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .ps-xl-1 {
    padding-left: 5px !important;
  }

  .ps-xl-2 {
    padding-left: 10px !important;
  }

  .ps-xl-3 {
    padding-left: 15px !important;
  }

  .ps-xl-4 {
    padding-left: 20px !important;
  }

  .ps-xl-5 {
    padding-left: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .ps-xxl-1 {
    padding-left: 5px !important;
  }

  .ps-xxl-2 {
    padding-left: 10px !important;
  }

  .ps-xxl-3 {
    padding-left: 15px !important;
  }

  .ps-xxl-4 {
    padding-left: 20px !important;
  }

  .ps-xxl-5 {
    padding-left: 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .pe-sm-1 {
    padding-right: 5px !important;
  }

  .pe-sm-2 {
    padding-right: 10px !important;
  }

  .pe-sm-3 {
    padding-right: 15px !important;
  }

  .pe-sm-4 {
    padding-right: 20px !important;
  }

  .pe-sm-5 {
    padding-right: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .pe-md-1 {
    padding-right: 5px !important;
  }

  .pe-md-2 {
    padding-right: 10px !important;
  }

  .pe-md-3 {
    padding-right: 15px !important;
  }

  .pe-md-4 {
    padding-right: 20px !important;
  }

  .pe-md-5 {
    padding-right: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .pe-lg-1 {
    padding-right: 5px !important;
  }

  .pe-lg-2 {
    padding-right: 10px !important;
  }

  .pe-lg-3 {
    padding-right: 15px !important;
  }

  .pe-lg-4 {
    padding-right: 20px !important;
  }

  .pe-lg-5 {
    padding-right: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .pe-xl-1 {
    padding-right: 5px !important;
  }

  .pe-xl-2 {
    padding-right: 10px !important;
  }

  .pe-xl-3 {
    padding-right: 15px !important;
  }

  .pe-xl-4 {
    padding-right: 20px !important;
  }

  .pe-xl-5 {
    padding-right: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .pe-xxl-1 {
    padding-right: 5px !important;
  }

  .pe-xxl-2 {
    padding-right: 10px !important;
  }

  .pe-xxl-3 {
    padding-right: 15px !important;
  }

  .pe-xxl-4 {
    padding-right: 20px !important;
  }

  .pe-xxl-5 {
    padding-right: 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .pt-sm-1 {
    padding-top: 5px !important;
  }

  .pt-sm-2 {
    padding-top: 10px !important;
  }

  .pt-sm-3 {
    padding-top: 15px !important;
  }

  .pt-sm-4 {
    padding-top: 20px !important;
  }

  .pt-sm-5 {
    padding-top: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .pt-md-1 {
    padding-top: 5px !important;
  }

  .pt-md-2 {
    padding-top: 10px !important;
  }

  .pt-md-3 {
    padding-top: 15px !important;
  }

  .pt-md-4 {
    padding-top: 20px !important;
  }

  .pt-md-5 {
    padding-top: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .pt-lg-1 {
    padding-top: 5px !important;
  }

  .pt-lg-2 {
    padding-top: 10px !important;
  }

  .pt-lg-3 {
    padding-top: 15px !important;
  }

  .pt-lg-4 {
    padding-top: 20px !important;
  }

  .pt-lg-5 {
    padding-top: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .pt-xl-1 {
    padding-top: 5px !important;
  }

  .pt-xl-2 {
    padding-top: 10px !important;
  }

  .pt-xl-3 {
    padding-top: 15px !important;
  }

  .pt-xl-4 {
    padding-top: 20px !important;
  }

  .pt-xl-5 {
    padding-top: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .pt-xxl-1 {
    padding-top: 5px !important;
  }

  .pt-xxl-2 {
    padding-top: 10px !important;
  }

  .pt-xxl-3 {
    padding-top: 15px !important;
  }

  .pt-xxl-4 {
    padding-top: 20px !important;
  }

  .pt-xxl-5 {
    padding-top: 25px !important;
  }
}
@media screen and (min-width: 576px) {
  .pb-sm-1 {
    padding-bottom: 5px !important;
  }

  .pb-sm-2 {
    padding-bottom: 10px !important;
  }

  .pb-sm-3 {
    padding-bottom: 15px !important;
  }

  .pb-sm-4 {
    padding-bottom: 20px !important;
  }

  .pb-sm-5 {
    padding-bottom: 25px !important;
  }
}
@media screen and (min-width: 768px) {
  .pb-md-1 {
    padding-bottom: 5px !important;
  }

  .pb-md-2 {
    padding-bottom: 10px !important;
  }

  .pb-md-3 {
    padding-bottom: 15px !important;
  }

  .pb-md-4 {
    padding-bottom: 20px !important;
  }

  .pb-md-5 {
    padding-bottom: 25px !important;
  }
}
@media screen and (min-width: 991px) {
  .pb-lg-1 {
    padding-bottom: 5px !important;
  }

  .pb-lg-2 {
    padding-bottom: 10px !important;
  }

  .pb-lg-3 {
    padding-bottom: 15px !important;
  }

  .pb-lg-4 {
    padding-bottom: 20px !important;
  }

  .pb-lg-5 {
    padding-bottom: 25px !important;
  }
}
@media screen and (min-width: 1200px) {
  .pb-xl-1 {
    padding-bottom: 5px !important;
  }

  .pb-xl-2 {
    padding-bottom: 10px !important;
  }

  .pb-xl-3 {
    padding-bottom: 15px !important;
  }

  .pb-xl-4 {
    padding-bottom: 20px !important;
  }

  .pb-xl-5 {
    padding-bottom: 25px !important;
  }
}
@media screen and (min-width: 1440px) {
  .pb-xxl-1 {
    padding-bottom: 5px !important;
  }

  .pb-xxl-2 {
    padding-bottom: 10px !important;
  }

  .pb-xxl-3 {
    padding-bottom: 15px !important;
  }

  .pb-xxl-4 {
    padding-bottom: 20px !important;
  }

  .pb-xxl-5 {
    padding-bottom: 25px !important;
  }
}
.col-1 {
  flex-basis: 8.3333333333% !important;
  flex: 0 0 auto;
}

.col-2 {
  flex-basis: 16.6666666667% !important;
  flex: 0 0 auto;
}

.col-3 {
  flex-basis: 25% !important;
  flex: 0 0 auto;
}

.col-4 {
  flex-basis: 33.3333333333% !important;
  flex: 0 0 auto;
}

.col-5 {
  flex-basis: 41.6666666667% !important;
  flex: 0 0 auto;
}

.col-6 {
  flex-basis: 50% !important;
  flex: 0 0 auto;
}

.col-7 {
  flex-basis: 58.3333333333% !important;
  flex: 0 0 auto;
}

.col-8 {
  flex-basis: 66.6666666667% !important;
  flex: 0 0 auto;
}

.col-9 {
  flex-basis: 75% !important;
  flex: 0 0 auto;
}

.col-10 {
  flex-basis: 83.3333333333% !important;
  flex: 0 0 auto;
}

.col-11 {
  flex-basis: 91.6666666667% !important;
  flex: 0 0 auto;
}

.col-12 {
  flex-basis: 100% !important;
  flex: 0 0 auto;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-sm-2 {
    flex-basis: 16.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-sm-3 {
    flex-basis: 25% !important;
    flex: 0 0 auto;
  }

  .col-sm-4 {
    flex-basis: 33.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-sm-5 {
    flex-basis: 41.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-sm-6 {
    flex-basis: 50% !important;
    flex: 0 0 auto;
  }

  .col-sm-7 {
    flex-basis: 58.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-sm-8 {
    flex-basis: 66.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-sm-9 {
    flex-basis: 75% !important;
    flex: 0 0 auto;
  }

  .col-sm-10 {
    flex-basis: 83.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-sm-11 {
    flex-basis: 91.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-sm-12 {
    flex-basis: 100% !important;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-md-2 {
    flex-basis: 16.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-md-3 {
    flex-basis: 25% !important;
    flex: 0 0 auto;
  }

  .col-md-4 {
    flex-basis: 33.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-md-5 {
    flex-basis: 41.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-md-6 {
    flex-basis: 50% !important;
    flex: 0 0 auto;
  }

  .col-md-7 {
    flex-basis: 58.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-md-8 {
    flex-basis: 66.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-md-9 {
    flex-basis: 75% !important;
    flex: 0 0 auto;
  }

  .col-md-10 {
    flex-basis: 83.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-md-11 {
    flex-basis: 91.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-md-12 {
    flex-basis: 100% !important;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 991px) {
  .col-lg-1 {
    flex-basis: 8.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-lg-2 {
    flex-basis: 16.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-lg-3 {
    flex-basis: 25% !important;
    flex: 0 0 auto;
  }

  .col-lg-4 {
    flex-basis: 33.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-lg-5 {
    flex-basis: 41.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-lg-6 {
    flex-basis: 50% !important;
    flex: 0 0 auto;
  }

  .col-lg-7 {
    flex-basis: 58.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-lg-8 {
    flex-basis: 66.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-lg-9 {
    flex-basis: 75% !important;
    flex: 0 0 auto;
  }

  .col-lg-10 {
    flex-basis: 83.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-lg-11 {
    flex-basis: 91.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-lg-12 {
    flex-basis: 100% !important;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xl-2 {
    flex-basis: 16.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xl-3 {
    flex-basis: 25% !important;
    flex: 0 0 auto;
  }

  .col-xl-4 {
    flex-basis: 33.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xl-5 {
    flex-basis: 41.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xl-6 {
    flex-basis: 50% !important;
    flex: 0 0 auto;
  }

  .col-xl-7 {
    flex-basis: 58.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xl-8 {
    flex-basis: 66.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xl-9 {
    flex-basis: 75% !important;
    flex: 0 0 auto;
  }

  .col-xl-10 {
    flex-basis: 83.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xl-11 {
    flex-basis: 91.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xl-12 {
    flex-basis: 100% !important;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .col-xxl-1 {
    flex-basis: 8.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xxl-2 {
    flex-basis: 16.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xxl-3 {
    flex-basis: 25% !important;
    flex: 0 0 auto;
  }

  .col-xxl-4 {
    flex-basis: 33.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xxl-5 {
    flex-basis: 41.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xxl-6 {
    flex-basis: 50% !important;
    flex: 0 0 auto;
  }

  .col-xxl-7 {
    flex-basis: 58.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xxl-8 {
    flex-basis: 66.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xxl-9 {
    flex-basis: 75% !important;
    flex: 0 0 auto;
  }

  .col-xxl-10 {
    flex-basis: 83.3333333333% !important;
    flex: 0 0 auto;
  }

  .col-xxl-11 {
    flex-basis: 91.6666666667% !important;
    flex: 0 0 auto;
  }

  .col-xxl-12 {
    flex-basis: 100% !important;
    flex: 0 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
